.card {
    margin-top: 5.4375rem; /* Changed from px to rem */
    position: absolute;
    width: 80%;
    right: 10%;
    

}

.card__card {
    padding: 1.09375rem 4.375rem; /* Changed from px to rem */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.625rem; /* Changed from px to rem */
    background: #FFF;
}

.card__title {
    color: #0B132A;
    font-family: Rubik;
    font-size: 2.1875rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 500;
    line-height: 2.8125rem; /* Changed from px to rem */
    max-width: 23.1875rem; /* Changed from px to rem */
}

.card__description {
    margin-top: 1.25rem; /* Changed from px to rem */
    color: #4F5665;
    font-family: Rubik;
    font-size: 1rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* Changed from px to rem */
}
.card__btns{
    display: flex;
    align-items: center;
}
.card__btn {
    padding: 1.09375rem 4.0625rem; /* Changed from px to rem */
    text-decoration-line: none;
    color: #FFF;
    font-family: Rubik;
    font-size: 1rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem; /* Changed from px to rem */
    border-radius: 0.625rem; /* Changed from px to rem */
    background: #F53838;
    display: flex;
    align-items: center ;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .card {
        width: 95%;
        right: 2.5%;
    }

    .card__card {
        flex-direction: column; /* Stack items vertically on mobile */
        padding: 1rem; /* Adjust padding for mobile */
    }

    .card__title {
        font-size: 1.5rem; /* Adjust font size for mobile */
        text-align: center; /* Center text on mobile */
    }

    .card__description {
        text-align: center; /* Center text on mobile */
    }

    .card__btns {
        justify-content: center; /* Center buttons on mobile */
    }

    .card__btn {
        padding: 0.75rem 3rem; /* Adjust padding for mobile */
    }
}