.card {
    margin: 20px auto; /* Top and bottom margin of 20px, and auto left and right margin for centering */
    width: 80%;
}

.card__card {
    padding: 36px 30px 30px 30px;
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid #DDD;
}

.card_container {
    display: flex;
    justify-content: center;
}

.card__title {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    max-width: 447px;
}

.card__description {
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 555px;
}

.card__btns{
    align-items: auto;
    position: auto;
}
.card__btn {
    padding: 17.5px 65px;
    text-decoration-line: none;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    border-radius: 10px;
    background: #F53838;
    display: flex;
    align-items: center ;
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        margin: 30px 0; /* 30px top and bottom margin */
    }
}

/* Styles for desktops */
@media (min-width: 1024px) {
    .card {
        margin: 50px 0; /* 50px top and bottom margin */
    }
}