.card {
    margin: 20px auto; /* Top and bottom margin of 20px, and auto left and right margin for centering */
    width: 80%;
    position: relative;
}

.card__card {
    padding: 17.5px 70px;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    border-radius: 10px;
    background: #FFF;
    height: 100%; /* Take the full height available */
}


.card__title {
    color: #0B132A;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    max-width: 371px;
    margin: 0;  /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.card__description {
    margin-top: 15px;  /* Adjusted spacing */
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;  /* Reset default margin */
}

.card__btns{
    display: flex;
    align-items: center;
}
.card__btn {
    padding: 17.5px 65px;
    text-decoration-line: none;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    border-radius: 10px;
    background: #F53838;
    display: flex;
    align-items: center ;
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        margin: 30px 0; /* 30px top and bottom margin */
    }
}

/* Styles for desktops */
@media (min-width: 1024px) {
    .card {
        margin: 50px 0; /* 50px top and bottom margin */
    }
}