.header__content {
    margin-top: 3rem; /* Changed from px to rem */
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    gap: 2.5rem; /* Changed from px to rem */
    list-style: none;
    color: #4F5665;
    font-family: Rubik;
    font-size: 1rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__btnn {
    color: #0B132A;
    font-family: Rubik;
    font-size: 1rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
    display: flex;
    align-items: center;
   
    
}

.header__right {
    display: flex;
    gap: 2rem; /* Changed from px to rem */
}

.header__btn {
    padding: 0.8rem 2.8rem; /* Changed from px to rem */
    color: #F53855;
    font-family: Rubik;
    font-size: 1rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #FFF;
    border-radius: 1.8rem; /* Changed from px to rem */
    border: 0.125rem solid #F53855; /* Changed from px to rem */
    text-decoration-line: none;
}

/* Hamburger Menu */
#toggleHeaderMenu {
    display: none; /* Hide the checkbox */
}

.header__list {
    transition: max-height 0.3s ease-in-out; /* Smooth transition */
    max-height: 0; /* Hide by default */
    overflow: hidden;
}

#toggleHeaderMenu:checked ~ .header__list {
    max-height: 500px; /* Adjust based on your needs */
}

.header__menu-label {
    display: none; /* Hide by default */
    cursor: pointer;
    /* Add more styles (like padding, font-size, etc.) to make it look like a button */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .header__menu-label {
        display: block; /* Show the hamburger menu on mobile */
    }

    .header__list,
    .header__right {
        align-items: center; /* Center items on mobile */
    }

    .header__btn {
        margin: 0 auto; /* Center the button on mobile */
    }
}

@media (max-width: 768px) {
    .header__btnn {
        margin-bottom: 1rem; /* Add some space below each item */
    }
}