.plan {
    margin-top: 5rem; /* Changed from px to rem */
}

.plan__top {
    margin-top: 13.2rem; /* Changed from px to rem */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__title {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 2.2rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 500;
    line-height: 3.1rem; /* Changed from px to rem */
}

.plan__description {
    margin-top: 1.25rem; /* Changed from px to rem */
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 1rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* Changed from px to rem */
    max-width: 34.7rem; /* Changed from px to rem */
}

.plan__content {
    margin-top: 3.75rem; /* Changed from px to rem */
    display: flex;
    justify-content: space-around;
    gap: 3.1rem; /* Changed from px to rem */
}

.plan__card {
    padding: 4.9rem 4.3rem 3.1rem 4.4rem; /* Changed from px to rem */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.625rem; /* Changed from px to rem */
    border: 0.125rem solid #DDD; /* Changed from px to rem */
    background: #FFF;
    transition: border-color 0.3s ease; /* Smooth transition for hover effect */
}

.plan__card img {
    max-width: 6.25rem; /* Changed from px to rem */
}

.plan__card:hover {
    border-color: #F53838;
}

.plan__title-sub {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 1.6rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; /* Changed from px to rem */
}

.plan__list {
    color: #4F5665;
    font-family: Rubik;
    font-size: 0.875rem; /* Changed from px to rem */
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* Changed from px to rem */
    list-style: none;
    gap: 0.625rem; /* Changed from px to rem */
    padding: 0;
}

.plan__btn {
    padding: 0.8rem 4.3rem; /* Changed from px to rem */
    color: #F53838;
    font-family: Rubik;
    font-size: 1rem; /* Changed from px to rem */
    font-weight: 700;
    text-decoration: none;
    border-radius: 3.1rem; /* Changed from px to rem */
    border: 0.125rem solid #F53838; /* Changed from px to rem */
    background: #FFF;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.plan__btn:hover {
    background-color: #F53838;
    color: #FFF;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .plan__content {
        flex-direction: column; /* Stack items vertically on mobile */
        gap: 2rem; /* Adjust gap for mobile */
    }

    .plan__card {
        width: 100%; /* Take full width on mobile */
        padding: 2.5rem; /* Adjust padding for mobile */
    }
}